<div class="row">
	<h1>{{title}}</h1>
</div>
<div class="row">
	<p>
		Hola, mi nombre es {{name}}.
	</p>
</div>
<br>
<div class="row">
	<p>
		Aquí es un apartado donde publicaré proyectos que he realizado, principalmente aplicaciones de desarrollo web.
	</p>
</div>


<!--<p class="mb-1" style="font-size: .77rem;">Angular</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>-->

<section class="row" style="background-color: #eee;">
  <div class="container py-5">
    

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{url}}assets/img/about/2020-05-19.jpg" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">Marcelino David</h5>
            <p class="text-muted mb-1">Full Stack Web Developer</p>
            <small><p class="text-muted mb-1">Ingeniería en computación (UAMC)</p></small>
            <p class="text-muted mb-4">México</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary" [routerLink]="['/contacto']">Contacto</button>
              <!--<button type="button" class="btn btn-outline-primary ms-1">Message</button>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">|</span>Tecnologías</p>
                <p class="mb-1" style="font-size: .77rem;">| Angular</p>
                <p class="mb-1" style="font-size: .77rem;">| Laravel</p>
                <p class="mb-1" style="font-size: .77rem;">| NodeJs</p>
                <p class="mb-1" style="font-size: .77rem;">| MongoDB</p>
                <p class="mb-1" style="font-size: .77rem;">| MySQL</p>
         				<p class="mb-1" style="font-size: .77rem;">| Bootstrap</p>
         				<p class="mb-1" style="font-size: .77rem;">| Github</p>
         				<p class="mb-1" style="font-size: .77rem;">| Visual Studio Code y Sublime</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">|</span>Otros</p>
                <p class="mb-1" style="font-size: .77rem;">| Diseño en el documento de arquitectura de software</p>
               	<p class="mb-1" style="font-size: .77rem;">| Patrones de diseño</p>
               	<p class="mb-1" style="font-size: .77rem;">| Arquitectura MVC</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<div class=" bxslider " >
	<div><img src="{{url}}assets/img/about/Cruz Orlada.jpg" title="Cruz Orlada"></div>
	<!--<div><img src="/Briefcase/assets/img/about/Cruz Orlada.jpg" title="Cruz Orlada"></div>-->
	<!--<div><img src="../assets/img/about/Cruz Orlada.jpg" title="Cruz Orlada"></div>-->
</div>
	





