<div class="row">
	<h1>{{title}}</h1>
</div>
<div class="row">
	Hola, mi nombre es {{name}}. Soy desarrollador web y estoy a fines de cursar la licenciatura de ingeniería en computación en la universidad UAM Cuajimalpa.
</div>
<br>
<div class="row">
	Habilidades:
	<ul>
		<li>Planificación en el documento de desarrollo de software</li>
		<li>Uso de la arquitectura MVC</li>
		<li>Uso en los patrones de diseño</li>
		<li>Lenguajes de programación:
			<ul>
				<li>JavaScript 80%</li>
				<li>Php 80%</li>
				<li>C y C++ 70%</li>
				<li>Python 60%</li>
			</ul>
		</li>
		<li>Tecnolgías:
			<ul>
				<li>Angular </li>
				<li>NodeJs </li>
				<li>MongoDB </li>
				<li>Laravel </li>
				<li>Jquery </li>
				<li>Mysql </li>
				<li>Bootstrap </li>
				<li>Visual Studio Code </li>
			</ul>
		</li>
	</ul>
</div>
<br>
<div class="row">
	Aquí es un apartado donde publicaré proyectos que he realizado, principalmente de desarrollo web.
</div>




<div class="bxslider">
	<div><img src="../assets/img/about/Cruz Orlada.jpg" title="Cruz Orlada"></div>
</div>


