<!-- Header -->
<div class="container-xl color-nav">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/sobre-mi']">Sobre mi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/proyectos']">Proyectos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
    </li>
  </ul>
</div>
<!-- Header -->


<div class="container">
  <router-outlet></router-outlet>
</div>


<div class="container">
  <!-- Footer -->
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://mdbootstrap.com/"> marce.mdrs</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</div>




